/node_modules
/public/hot
/public/storage
/storage/app/public/InformesKIO
/storage/app/public/reports
/storage/app/public/jasper
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

resources/reports/pdf/
storage/app/public/jasper/api.json
